.card:hover {
transform: scale(1.5, 1.5);
transition-duration: 250ms;
transition-timing-function: ease-out;
z-index: 1;
}


.card {
transform: scale(1.0, 1.0);
transition-duration: 250ms;
transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icon {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icon {
    bottom: -5%;
    opacity: 1;
}
.animate {
    transition: all 0.3s ease-in-out;
}